{{ define "main" }}
{{ $dateFormat := .Site.Params.dateFormat | default "January 2, 2006" }}
{{ $paginator := .Paginate (where .Site.RegularPages "Section" "post") (.Site.Params.paginate | default 20) }}
<div class="home-page">
  <ul class="post-list">
    {{ range $paginator.Pages }}
      {{ partial "post-list-item.html" (dict "page" . "dateFormat" $dateFormat "showFullMeta" true) }}
    {{ end }}
  </ul>
  {{ partial "pagination.html" . }}
</div>
{{ end }}

{{ define "sidebar" }}
  {{ partial "right-sidebar.html" . }}
{{ end }}
